<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bearkiddiary.enterprise">

    <!-- 允许联网 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 获取GSM（2g）、WCDMA（联通3g）等网络状态的信息 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".global.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.activity.PersonalInfoActivity" />
        <activity android:name=".ui.activity.OrganizationMgmtActivity" />
        <activity android:name=".ui.activity.OrganizationInfoActivity" />
        <activity android:name=".ui.activity.StaffActivity" />
        <activity android:name=".ui.activity.ResumeActivity" />
        <activity android:name=".ui.activity.ResumeEditInfoActivity" />
        <activity android:name=".ui.activity.ResumeEditContactActivity" />
        <activity android:name=".ui.activity.ResumeEditSpecActivity" />
        <activity android:name=".ui.activity.ResumeEditJobActivity" />
        <activity android:name=".ui.activity.ResumeEditEduActivity" />
        <activity android:name=".ui.activity.WorkAttendanceActivity" />
        <activity android:name=".ui.activity.CourseTeacherActivity" />
        <activity android:name=".ui.activity.CourseAdminActivity" />
        <activity android:name=".ui.activity.TagActivity" />
        <activity
            android:name=".ui.activity.TagEditActivity"
            android:windowSoftInputMode="stateHidden|adjustNothing" />
        <activity android:name=".ui.activity.GradeTeacherActivity" />
        <activity android:name=".ui.activity.ExaminationActivity"></activity>
    </application>

</manifest>